[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rpy2 = "*"
scooby = "*"
ipyvtklink = "*"

[packages]
ipykernel = "*"
jupyterlab = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-gallery = "*"
nbsphinx = "*"
pylint = "*"
pytest = "*"
shapely = "*"
geopandas = "*"
rasterio = "*"
pyvista = "*"
scipy = "*"
descartes = "*"
svgpath2mpl = "*"
svgwrite = "*"
svgpathtools = "*"
tidegravity = "*"
xlrd = "*"
folium = "*"
opencv-python = "*"
ipygany = "*"
osmnx = "*"

[requires]
python_version = "3.8"
